body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffff;
  font-family: sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 1px;
  left: 1px;
  height: 100%;
  border-right: solid;
  border-color: black;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 275px;
  border: none;
  z-index: 1;
  border-bottom: 2px solid;
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#main-doc header {
  text-align: left;
  margin: 0;
}

#navbar ul {
  padding: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  height: min(82vh, 1000px);
}

section li {
  margin: 15px 1px 1px 20px;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2px;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  margin-left: -20px;
  width: 100%;
  padding-left: 10px;
  padding-right: 45px;
  min-width: 233px;
}

#main-doc {
  margin-top: 270px;
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

.div-scroll {
  height: 100vh;
  overflow: scroll;
  min-width: 290px;
}
